body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: #000;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

/* -----------------------NAV BAR------------------- */
.navbar {
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 50%;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 1%;
  }
}

.nav-item {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 10px;
}

.nav-link {
  color: black !important;
  margin: 0;
}

.nav-link:hover {
  color: #ffdb58 !important;
}

@media screen and (max-width: 1283px) {
  .nav-item {
    margin-left: 5px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1031px) {
  .nav-item {
    margin-left: 10px;
    font-size: .75rem;
  }

  .dropdown-item {
    font-size: .75rem;
  }
}

.dropdown-item:active {
  background-color: #ffdb58;
}

/* -----------------------HOME PAGE----------------------- */
#home hr {
  border-top: 6px solid black;
  width: 50%;
}

@media screen and (max-width: 1215px) {
  #home hr {
    border-top: 5px solid black;
  }
}

@media screen and (max-width: 705px) {
  #home hr {
    border-top: 2px solid black;
  }
}

#home {
  padding: 11% 15%;
  text-align: center;
  position: relative;
}

.title {
  color: #ffdb58;
  font-size: 5rem;
  font-weight: 700;
}

.sub-title {
  font-size: 3rem;
}

@media screen and (max-width: 1453px) {
  .title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 729px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 492px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

.outside-squares1 {
  position: absolute;
  width: 20%;
  left: 0;
}

.outside-squares2 {
  width: 20%;
  right: 0;
  position: absolute;
  transform: rotate(180deg);
}

#heading {
  font-size: 3rem;
  color: #fff;
  font-weight: 900;
  padding: 0;
  margin: 0;
}

/* td {
  border: 1px solid pink;
} */

.small-names-table tr {
  width: 25%;
}

.small-names-table {
  width: 100%;
}

#names {
  margin: 6% 0;
  text-align: center;
  padding: 1% 1%;
  background-color: #ffdb58;
}

.small-names-table td {
  padding: 0;
  width: 15%;
  font-size: .90rem;
  font-weight: 700;
}

@media screen and (max-width: 1332px) {
  .small-names-table td {
    font-size: .75rem;
  }
}

@media screen and (max-width: 1001px) {
  .small-names-table td {
    font-size: .50rem;
  }

  #heading {
    font-size: 2.25rem;
    color: #fff;
  }
}

@media screen and (max-width: 753px) {
  .small-names-table td {
    font-size: .45rem;
  }

  #heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .small-names-table td {
    font-size: .32rem;
  }

  #heading {
    font-size: 1.5rem;
  }
}

#goal {
  text-align: center;
  padding: 10% 5% 15% 5%;
  line-height: 2;
}

.goal-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.goal-text {
  font-size: 1rem;
}

.target-image {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .target-image {
    width: 20%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .goal-title {
    font-size: 1.5rem;
  }

  .goal-text {
    font-size: .75rem;
  }
}

#contact {
  padding-top: 5%;
  padding-bottom: 0;
  padding-left: 5%;
  margin: 0;
  position: relative;
  overflow: hidden;
  background-color: #ffdb58;
}

.contact-info {
  text-align: left;
  width: 45%;
}

.icons-of-us {
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 40%;
  right: 4%;
}

.male-icon, .female-icon {
  width: 35%;
}

.male-icon {
  position: relative;
  top: 2px;
}

.female-icon {
  position: relative;
  top: 9px;
}

.contact-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.feedback {
  font-size: 1rem;
}

.email {
  padding-bottom: 40px;
}

.email-text-1 {
  font-weight: 900;
font-size: 1rem;
}

.email-text-2 {
 font-size: 1rem;
}

.contact-info hr {
  border: none;
  border-top: 1px solid #000;
}

@media screen and (max-width: 1067px) {
  .contact-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .contact-title {
    font-size: 1.5rem;
  }

  .feedback {
    font-size: .75rem;
  }

  .email-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  #contact {
    padding-right: 5%;
  }

  .contact-info {
    width: 100%;
    text-align: center;
  }

  .icons-of-us {
    width: 100%;
    position: static;
  }

  .male-icon {
    width: 20%;
  }

  .female-icon {
    width: 20%;
  }
}

/* --------------------ABOUT PAGE------------------------- */
#about {
  background-color: #ffdb58;
  padding: 8% 20%;
  text-align: center;
  margin-top: 60px;
}

#about h1 {
  font-weight: 900;
}

#about p {
  border-top: 5px solid #000;
  margin-top: 40px;
  padding-top: 40px;
  line-height: 2;
}

/* ------------------------EDUCATE PAGE-------------------- */
#options {
  text-align: center;
  padding: 10% 2%;
}

#options h1 {
  font-weight: 900;
}

.media-type a {
  color: #000;
  text-decoration: none;
}

.media-type a:hover {
  color: #ffdb58;
}

.media-type h2 {
  font-weight: 900;
}

.media-icon {
  width: 25%;
  margin-top: 150px;
  margin-bottom: 40px;
}


/* ------------------------BOOKS PAGE------------------------ */
#books {
  text-align: center;
  padding: 10% 3%;
}

.books-intro h1 {
  font-weight: 900;
}

.books-intro p {
  margin-bottom: 50px;
}

.book {
  box-shadow: 0 0 10px;
  margin-bottom: 20px;
}

.book-image {
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 0 5px;
}

.book-body {
  margin-top: 20px;
}

.book-title {
  font-weight: bold;
  font-size: 1rem;
}

.book-btn {
  margin-bottom: 20px;
}

.book-body hr {
  border: none;
  border-top: 1px solid #000;
}

/* -----------------------------DONATE PAGE------------------------ */
.color-dropdown-item:active {
  background-color: #ffdb58;
  color: #000;
}


#donate {
  text-align: center;
  padding: 10% 3%;
}

.donate-title {
  margin-bottom: 100px;
  font-weight: 900;
}

.donate-link {
  margin-bottom: 20px;
  box-shadow: 0 0 10px;
  padding: 20px 15px;
  line-height: 2;
  background-color: #fff;
}

.donate-link hr {
  border: none;
  border-top: 1px solid #000;
}

.donate-link h3 {
  font-weight: bold;
}

/* ---------------------ARTICLES PAGE--------------------- */
#articles {
  padding: 10% 4% 10% 10%;
  text-align: center;
}

.articles-title {
  margin-bottom: 200px;
}

.articles-title h1 {
  font-weight: 900;
}

#articles h3 {
  font-weight: bold;
}

#articles a {
  color: #000;
  text-decoration: none;
}

#articles a:hover {
  color: #ffdb58;
}

#articles hr {
  border-top: 1px solid #000;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}

.article-text span {
color: rgba(117, 117, 117, 1);
font-weight: normal;
font-size: 1rem;
}

.article-image {
 width: 50%;
 box-shadow: 0 0 5px;
}

#articles .col-lg-7 {
  margin-bottom: 100px;
}

#articles .col-md-7 {
  margin-bottom: 100px;
}

#articles .col-lg-5 {
  margin-bottom: 100px;
}

#articles .col-md-5 {
  margin-bottom: 100px;
}


/* -----------------------VIDEOS PAGE------------------------- */
#videos {
  padding: 10% 2%;
  text-align: center;
}

#videos h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 60px;
  margin-top: 20px;
}
#videos a {
  color: #000;
  text-decoration: none;
}

#videos a:hover {
  color: #ffdb58;
}

.videos-intro {
  margin-bottom: 100px;
}

.videos-intro h1 {
  font-weight: 900;
}

.videos-intro p {
  margin-top: 40px;
}

.youtube-video {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px;
}

/* ----------------------MOVIES PAGE------------------- */
#movies {
  margin: 0 10% 0 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.movies-intro {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  padding: 0 10%;
}

.movies-intro h1 {
  font-weight: 900;
}

.movies-intro p {
  margin-top: 40px;
}

.movie-details {
  padding: 15% 0;
  margin-bottom: 20px;
}

.movie-image-1 {
  float: left;
  width: 20%;
  margin-right: 20px;
  box-shadow: 0 0 5px;
}

.movie-image-2 {
  float: right;
  width: 20%;
  margin-left: 20px;
  box-shadow: 0 0 5px;
}

.movie-title {
  font-weight: 900;
}

.movie-description {
  line-height: 2;
}

.movie-title, .movie-description {
  /* margin: 20px 10px; */
}

.movie-details a {
  color: #000;
  text-decoration: none;
}

.movie-details a:hover {
  color: #ffdb58;
}

/* ----------------------TV SHOWS PAGE------------------- */
#shows {
  margin: 0 10% 0 10%;
}

.shows-intro {
  margin-top: 100px;
  margin-bottom: 100px;
  text-align: center;
  padding: 0 10%;
}

.shows-intro h1 {
  font-weight: 900;
}

.shows-intro p {
  margin-top: 40px;
}

.show-details {
  padding: 15% 0;
  margin-bottom: 20px;
}

.show-image-1 {
  float: left;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 0 5px;
}

.show-image-2 {
  float: right;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 5px;
}

.show-title {
  font-weight: 900;
}

.show-description {
  line-height: 2;
}

.show-title, .show-description {
  margin: 20px 10px;
}

.show-details a {
  color: #000;
  text-decoration: none;
}

.show-details a:hover {
  color: #ffdb58;
}

/* -----------------------PODCASTS PAGE------------------------- */
#podcasts {
  padding: 10% 15%;
  text-align: center;
}

.podcasts-intro {
  margin-bottom: 100px;
}

.podcasts-intro h1 {
  font-weight: 900;
}

.podcast-show {
  margin-bottom: 160px;
}

.podcast-show h2 {
  margin-top: 40px;
  font-size: 2.5rem;
}

.podcast-show p {
  font-size: 1.5rem;
}

.podcast-show a {
  color: #ffdb58;
  text-decoration: none;
  font-weight: 900;
}

.podcast-show img {
  width: 25%;
  border-radius: 100%;
}


/* ------------------ APPS PAGE ------------------- */

#apps {
  padding: 15% 10% 10% 10%;
  text-align: center;
}

.apps-intro {
  margin-bottom: 200px;
}

.apps-intro h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

.app {
margin-bottom: 200px;
}

.app-text {
  line-height: 2;
}

.app-name {
  font-weight: 900;
}

.app-image {
  width: 20%;
  margin-bottom: 40px;
}

/* --------------------- SITES PAGE -------------------- */
#sites {
  padding: 15% 10% 10% 10%;
  text-align: center;
}

.sites-intro {
margin-bottom: 200px;
}

.sites-intro h1 {
  font-weight: 900;
  margin-bottom: 20px;
}

.site {
margin-bottom: 200px;
}

.site-text {
  line-height: 2;
}

.site-name {
  font-weight: 900;
}

.site-image {
  width: 20%;
  margin-bottom: 40px;
}

.site a {
  color: #000;
  text-decoration: none;
}

.site a:hover {
  color: #ffdb58;
}
