body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
width: 100%;
}

/* -----------------------NAV BAR------------------- */
.navbar {
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 50%;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 1%;
  }
}

.nav-item {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 10px;
}

.nav-link {
  color: black !important;
  margin: 0;
}

.nav-link:hover {
  color: #ffdb58 !important;
}

@media screen and (max-width: 1283px) {
  .nav-item {
    margin-left: 5px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1031px) {
  .nav-item {
    margin-left: 5px;
    font-size: .75rem;
  }
}

.dropdown-item:active {
  background-color: #ffdb58;
}

/* -----------------------HOME PAGE----------------------- */
#home hr {
  border-top: 10px solid black;
  width: 50%;
}

@media screen and (max-width: 1215px) {
  #home hr {
    border-top: 5px solid black;
  }
}

@media screen and (max-width: 705px) {
  #home hr {
    border-top: 2px solid black;
  }
}

#home {
  padding: 10% 15%;
  text-align: center;
  position: relative;
}

.title {
  color: #ffdb58;
  font-size: 5rem;
  font-weight: 700;
}

.sub-title {
  font-size: 3rem;
}

@media screen and (max-width: 1453px) {
  .title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 729px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 492px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

.outside-squares1 {
  position: absolute;
  width: 20%;
  left: 0;
}

.outside-squares2 {
  width: 20%;
  right: 0;
  position: absolute;
  transform: rotate(180deg);
}

#heading {
  font-size: 40px;
  color: #ffdb58;
  font-weight: 900;
}

/* td {
  border: 1px solid pink;
} */

tr {
  width: 25%;
}

table {
  width: 100%;
}

#small-names {
  text-align: center;
  padding: 10% 1%;
}

.small-names-table td {
  padding: 0;
  width: 15%;
  font-size: 1rem;
  font-weight: 700;
}

@media screen and (max-width: 1332px) {
.small-names-table td {
font-size: .75rem;

}
}

@media screen and (max-width: 1001px) {
.small-names-table td {
font-size: .50rem;

}
#heading {
  font-size: 20px;
}
}

@media screen and (max-width: 753px) {
.small-names-table td {
font-size: .45rem;

}
#heading {
  font-size: 1rem;
}
}

#goal {
  text-align: center;
  padding: 5% 5% 15% 5%;
  line-height: 2;
}

.goal-title {
  font-weight: 900;
}

.goal-text {
  font-size: 1rem;
}

.target-image {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .target-image {
    width: 25%;
  }
}

@media screen and (max-width: 767px) {
  .goal-title {
    font-size: 2rem;
  }
  .goal-text {
    font-size: .75rem;
  }
}

#contact {
padding-top: 5%;
padding-bottom: 0;
padding-left: 5%;
  margin: 0;
  position: relative;
}

.contact-info {
  text-align: left;
  width: 45%;
}


.icons-of-us {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 40%;
  right: 4%;

}

.male-icon, .female-icon {
  width: 35%;
}

.contact-title {
  font-weight: 900;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.feedback {
  font-size: 1rem;
}

.email {
  font-weight: 600;
  font-size: 1.5rem;
  padding-bottom: 10px;
}

@media screen and (max-width: 1067px) {
  .contact-title {
    font-size: 2rem;
  }
  .feedback {
    font-size: 1rem;
  }
  .email {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 750px) {
  .contact-title {
    font-size: 1.5rem;
  }
  .feedback {
    font-size: .75rem;
  }
  .email {
    font-size: 1rem;
  }
}


@media screen and (max-width: 575px) {
  .contact-info {
  width: 100%;
  text-align: center;
  }
  .icons-of-us {
    width: 100%;
    position: static;
  }
  .male-icon {
    width: 20%;
    }

  .female-icon {
    width: 20%;
  }
}
/* --------------------ABOUT PAGE------------------------- */
#about {
  background-color: #ffdb58;
  padding: 8% 20%;
  text-align: center;
  margin-top: 60px;
}

#about h1 {
  font-weight: 900;
}

#about p {
  border-top: 5px solid #000;
  margin-top: 40px;
  padding-top: 40px;
}

/* ------------------------EDUCATE PAGE-------------------- */
#options {
  text-align: center;
  padding: 3% 2%;
}

.media-icon {
  width: 25%;
  margin-top: 150px;
  margin-bottom: 40px;
}

/* ------------------------BOOKS PAGE------------------------ */
#books {
  text-align: center;
}

.card {
  box-shadow: 0 0 10px;
}

.card-body {
  margin: 10px 0;
  padding: 0;
}

.card-body h5 {
  font-size: 1rem;
  font-weight: 700;
  padding: 0;
}

.card-body p {
  padding: 0;
}

.book-image {
  width: 75%;
  padding-top: 20px;
  margin: auto;
}
