body {
  font-family: Montserrat;
  margin: 0;
  padding: 0;
  font-size: 16px;
  height: 100%;
  width: 100%;
  color: #000;
}

.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}


.color-body{
  background-color: #ffd51e
}

/* -----------------------NAV BAR------------------- */
.navbar {
  padding-top: 5%;
  padding-right: 3%;
  padding-left: 60%;
}

@media screen and (max-width: 991px) {
  .navbar {
    padding-left: 1%;
  }
}

.nav-item {
  font-size: 1.25rem;
  font-weight: 700;
  margin-left: 10px;
}

.nav-link {
  color: black !important;
  margin: 0;
}

/* .nav-link:hover {
  color: #ffd51e !important;
} */

@media screen and (max-width: 1283px) {
  .nav-item {
    margin-left: 5px;
    font-size: 1rem;
  }
}

@media screen and (max-width: 1031px) {
  .nav-item {
    margin-left: 10px;
    font-size: .75rem;
  }

  .dropdown-item {
    font-size: .75rem;
  }
}

.dropdown-item:active {
  background-color: #ffd51e;
}

/* -----------------------HOME PAGE----------------------- */
#home hr {
  border-top: 4px solid black;
  width: 50%;
}

@media screen and (max-width: 1215px) {
  #home hr {
    border-top: 5px solid black;
  }
}

@media screen and (max-width: 705px) {
  #home hr {
    border-top: 2px solid black;
  }
}

#home {
  padding: 11% 15%;
  text-align: center;
  position: relative;
}

.title {
  color: #ffd51e;
  font-size: 5rem;
  font-weight: 700;
}

.sub-title {
  font-size: 3rem;
}

@media screen and (max-width: 1453px) {
  .title {
    font-size: 4rem;
  }

  .sub-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 970px) {
  .title {
    font-size: 3rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 729px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

@media screen and (max-width: 492px) {
  .title {
    font-size: 2rem;
  }

  .sub-title {
    font-size: 1rem;
  }
}

.outside-squares1 {
  position: absolute;
  width: 20%;
  left: 0;
}

.outside-squares2 {
  width: 20%;
  right: 0;
  position: absolute;
  transform: rotate(180deg);
}

#heading {
  font-size: 3rem;
  color: #000;
  font-weight: 900;
  padding: 0;
  margin: 10px 0 10px 0;
}

/* td {
  border: 1px solid pink;
} */

.small-names-table tr {
  width: 25%;
}

.small-names-table {
  width: 100%;
}

#names {
  margin: 6% 0;
  text-align: center;
  padding: 1% 1%;
  background-color: #ffd51e;
}

.small-names-table td {
  padding: 0;
  width: 15%;
  font-size: .90rem;
  font-weight: 600;
}

@media screen and (max-width: 1332px) {
  .small-names-table td {
    font-size: .75rem;
  }
}

@media screen and (max-width: 1001px) {
  .small-names-table td {
    font-size: .50rem;
  }

  #heading {
    font-size: 2.25rem;
  }
}

@media screen and (max-width: 753px) {
  .small-names-table td {
    font-size: .45rem;
  }

  #heading {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 400px) {
  .small-names-table td {
    font-size: .32rem;
  }

  #heading {
    font-size: 1.5rem;
  }
}
#about {
  text-align: center;
  padding: 4% 15% 10% 15%;
  line-height: 2;
}

.about-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.about-text {
  font-size: 1rem;
}

#goal {
  text-align: center;
  padding: 10% 5% 10% 5%;
  line-height: 2;
  background-color: #ffd51e;
}

.goal-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.goal-text {
  font-size: 1rem;
}

.target-image {
  width: 50%;
}

@media screen and (max-width: 767px) {
  .target-image {
    width: 20%;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 767px) {
  .goal-title {
    font-size: 1.5rem;
  }

  .goal-text {
    font-size: .75rem;
  }
}

#contact {
  padding-top: 5%;
  padding-bottom: 0;
  padding-left: 5%;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.contact-info {
  text-align: left;
  width: 45%;
}

.icons-of-us {
  position: absolute;
  bottom: 0%;
  text-align: center;
  width: 40%;
  right: 4%;
}

.male-icon, .female-icon {
  width: 35%;
}

.male-icon {
  position: relative;
  top: 2px;
}

.female-icon {
  position: relative;
  top: 9px;
}

.contact-title {
  font-weight: 900;
  font-size: 3rem;
  margin-bottom: 20px;
}

.feedback {
  font-size: 1rem;
}

.email {
  padding-bottom: 40px;
}

.email-text-1 {
  font-weight: 900;
font-size: 1rem;
}

.email-text-2 {
 font-size: 1rem;
}

.contact-info hr {
  border: none;
  border-top: 1px solid #000;
}

@media screen and (max-width: 1067px) {
  .contact-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 750px) {
  .contact-title {
    font-size: 1.5rem;
  }

  .feedback {
    font-size: .75rem;
  }

  .email-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 575px) {
  #contact {
    padding-right: 5%;
  }

  .contact-info {
    width: 100%;
    text-align: center;
  }

  .icons-of-us {
    width: 100%;
    position: static;
  }

  .male-icon {
    width: 20%;
  }

  .female-icon {
    width: 20;
  }
}


/* ------------------------EDUCATE PAGE-------------------- */
#options {
  text-align: center;
  padding: 0 4%;
}

.educate-intro {
  text-align: center;
  padding: 100px 0 50px 0;
}

.educate-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.media-type a {
  color: #000;
  text-decoration: none;
}

.media-type a:hover {
  color: #ffd51e;
}

.media-type h2 {
  font-weight: 900;
}

.media-icon {
  width: 25%;
  margin-top: 150px;
  margin-bottom: 40px;
}


/* ------------------------BOOKS PAGE------------------------ */
#books {
  text-align: center;
  padding: 10% 3%;
}

.books-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.books-intro {
  text-align: center;
padding: 100px 0 50px 0;
}

.book {
  box-shadow: 0 0 5px;
  margin-bottom: 20px;
}

.book-image {
  width: 50%;
  margin: 20px auto;
  box-shadow: 0 0 5px;
}

.book-body {
  margin-top: 20px;
}

.book-title {
  font-weight: bold;
  font-size: 1rem;
}

.book-btn {
  margin-bottom: 20px;
}

.book-body hr {
  border: none;
  border-top: 1px solid #000;
}

/* -----------------------------DONATE PAGE------------------------ */
.color-dropdown-item:active {
  background-color: #ffd51e;
  color: #000;
}


#donate {
  text-align: center;
  padding: 0 3%;
}

.donate-title {
  margin-bottom: 100px;
  font-weight: 900;
  font-size: 4rem;
  padding: 100px 0 50px 0;
  text-align: center;
}

.donate-link {
  margin-bottom: 40px;
  box-shadow: 0 0 5px;
  padding: 20px 15px;
  line-height: 2;
  background-color: #fff;
}

.donate-link hr {
  border: none;
  border-top: 1px solid #000;
}

.donate-link h3 {
  font-weight: bold;
}

/* ---------------------ARTICLES PAGE--------------------- */
#articles {
  padding: 10% 4% 10% 10%;
  text-align: center;
}

.articles-title {
  text-align: center;
}

.articles-title h1 {
  font-weight: 900;
  font-size: 4rem;
  padding: 100px 0 50px 0;
}

#articles h3 {
  font-weight: bold;
}

#articles a {
  color: #000;
  text-decoration: none;
}

#articles a:hover {
  color: #ffd51e;
}

#articles hr {
  border-top: 1px solid #000;
  width: 50%;
  margin: auto;
  margin-bottom: 100px;
}

.article-text span {
color: rgba(117, 117, 117, 1);
font-weight: normal;
font-size: 1rem;
}

.article-image {
 width: 50%;
 box-shadow: 0 0 5px;
}

#articles .col-lg-7 {
  margin-bottom: 100px;
}

#articles .col-md-7 {
  margin-bottom: 100px;
}

#articles .col-lg-5 {
  margin-bottom: 100px;
}

#articles .col-md-5 {
  margin-bottom: 100px;
}


/* -----------------------VIDEOS PAGE------------------------- */
#videos {
  padding: 10% 2%;
  text-align: center;
}

#videos h2 {
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 60px;
  margin-top: 20px;
}
#videos a {
  color: #000;
  text-decoration: none;
}

#videos a:hover {
  color: #ffd51e;
}

.videos-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.videos-intro  {
  text-align: center;
  padding: 100px 0 50px 0;
}

.youtube-video {
  width: 75%;
  margin-top: 10px;
  margin-bottom: 10px;
  box-shadow: 0 0 10px;
}

/* ----------------------MOVIES PAGE------------------- */
#movies {
  margin: 0 10% 0 10%;
  padding-left: 3%;
  padding-right: 3%;
}

.movies-intro {
  text-align: center;
  padding: 100px 0 50px 0;
}

.movies-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.movie-details {
  padding: 15% 0;
  margin-bottom: 20px;
}

.movie-image-1 {
  float: left;
  width: 20%;
  margin-right: 20px;
  box-shadow: 0 0 5px;
}

.movie-image-2 {
  float: right;
  width: 20%;
  margin-left: 20px;
  box-shadow: 0 0 5px;
}

.movie-title {
  font-weight: 900;
}

.movie-description {
  line-height: 2;
}

.movie-title, .movie-description {
  margin: 20px 10px;
}

.movie-details a {
  color: #000;
  text-decoration: none;
}

.movie-details a:hover {
  color: #ffd51e;
}

/* ----------------------TV SHOWS PAGE------------------- */
#shows {
  margin: 0 10% 0 10%;
}

.shows-intro {

  text-align: center;
  padding: 100px 0 50px 0;
}

.shows-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.show-details {
  padding: 15% 0;
  margin-bottom: 20px;
}

.show-image-1 {
  float: left;
  width: 20%;
  margin-right: 20px;
  margin-left: 20px;
  box-shadow: 0 0 5px;
}

.show-image-2 {
  float: right;
  width: 20%;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 0 5px;
}

.show-title {
  font-weight: 900;
}

.show-description {
  line-height: 2;
}

.show-title, .show-description {
  margin: 20px 10px;
}

.show-details a {
  color: #000;
  text-decoration: none;
}

.show-details a:hover {
  color: #ffd51e;
}

/* -----------------------PODCASTS PAGE------------------------- */
#podcasts {
  padding: 0 15%;
  text-align: center;
}

.podcasts-intro {
text-align: center;
padding: 100px 0 50px 0;
}

.podcasts-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

#podcasts hr {
  border: none;
  border-top: 1px solid #000;
  margin: 125px auto;
  width: 60%;
}

.podcast-show h2 {
  margin-top: 40px;
  font-size: 2.5rem;
}

.podcast-show p {
  font-size: 1.5rem;
}

.podcast-show a {
  color: #ffd51e;
  text-decoration: none;
  font-weight: 900;
}

.podcast-show img {
  width: 25%;
  border-radius: 100%;
}


/* ------------------ APPS PAGE ------------------- */

#apps {
  padding: 10% 20% 10% 20%;
  text-align: center;
}

.apps-intro {
  margin-bottom: 90px;
  text-align: center;
  padding: 100px 0 0 0;
}

.apps-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}

.iphone-img {
  width: 20%;
  margin-top: 20px;
  position: relative;
  top: 3px;

}

.galaxy-img {
  width: 22%;
  margin-top: 20px;
  position: relative;

}

#apps hr {
  border: none;
  border-top: 1px solid #000;
  margin: 125px auto;
  width: 60%;
}

.app-text {
  line-height: 2;
}

.app-name {
  font-weight: 900;
}

.app-image {
  width: 20%;
  margin-bottom: 40px;
}

/* --------------------- SITES PAGE -------------------- */
#sites {
  padding: 15% 20% 10% 20%;
  text-align: center;
}

.sites-intro {
padding: 100px 0 0 0;
text-align: center;
}

.sites-intro h1 {
  font-weight: 900;
font-size: 4rem;
}

.sample-site-img {
  margin-top: 40px;
  width: 45%;

  /* box-shadow: 0 0 5px; */
}

#sites hr {
  border: none;
  border-top: 1px solid #000;
  margin: 125px auto;
  width: 60%;
}

.site-text {
  line-height: 2;
}

.site-name {
  font-weight: 900;
}

.site-image {
  width: 20%;
  margin-bottom: 40px;
}

.site a {
  color: #000;
  text-decoration: none;
}

.site a:hover {
  color: #ffd51e;
}

/* --------------------- POEMS PAGE ---------------------- */


.poems-intro {
  text-align: center;
  padding: 100px 0 50px 0;
}

.poems-intro h1 {
font-weight: 900;
font-size: 4rem;
}

.carousel-item {
  padding: 10% 25%;
}

.tab {
margin-left: 30px;
}

.carousel-item h2 {
  font-weight: 700;
}

.full-poem {
  padding: 20px 0 20px 20px;
width: 100%;
box-shadow: 0 .5rem 1rem rgba(30,30,30,.15)
}

.poem-author {
  color: grey;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e")
}

 .carousel-control-next-icon {
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

/* ------------------- SUPPORT PAGE ----------------------- */

.support-intro {
  text-align: center;
  padding: 100px 0 50px 0;
}

.support-intro h1 {
  font-weight: 900;
  font-size: 4rem;
}
